<% provide(:title, "Home | Shop App") %>
<div class=" jumbotron ">
  <h1 class="jumbotron_h1"> <span style="color: #fff"> Welcome to the Sample App </span></h1>

  <h2>
    <span style="color: #fff"> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<!-- Features -->
			<section id="features" class="main">
				<header>
					<div class="container">
						<h1>Become a Better Programmer</h1>
						<h2>Learn side by side with creative, curious people.</h2>
					</div>
				</header>
				<div class="content  style1 featured">
					<div class="container">
						<div class="row">
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-github.png" height="100%" width="100%">
									<header>
										<h4>Self-directed</h4>
									</header>
									<p>Decide what projects to make, what technologies to learn. We are here just to guide you.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-illustrations.png" height="100%" width="100%">
									<header>
										<h4>Challenging</h4>
									</header>
									<p>Solve technical challenges with our partners. Contribute to open source.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-github.png" height="100%" width="100%">
									<header>
										<h4>Supportive</h4>
									</header>
									<p>Likeminded fellows. Exceptional facilitators. Coders, designers, data magicians.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-illustrations.png" height="100%" width="100%">
									<header>
										<h4>Talent-focused</h4>
									</header>
									<p>Free of charge. Admissions assess potential &amp; attitude over tech knowledge.</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>



<!-- Features -->
			<section id="features" class="main">
				<header>
					<div class="container">
						<h1>We showcase dozens of inspiring ideas for you.</h1>
						<h2>
						<br>
    					<a href="#" class="btn btn-outline btn-lg">Explore the Expo</a>
    					</h2>	
					</div>
				</header>
				<div class="content  style1 featured">
					<div class="container">
						<div class="row">
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-features.png" height="100%" width="100%">
									<header>
										<h4>Self-directed</h4>
									</header>
									<p>Decide what projects to make, what technologies to learn. We are here just to guide you.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-features.png" height="100%" width="100%">
									<header>
										<h4>Challenging</h4>
									</header>
									<p>Solve technical challenges with our partners. Contribute to open source.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-features.png" height="100%" width="100%">
									<header>
										<h4>Supportive</h4>
									</header>
									<p>Likeminded fellows. Exceptional facilitators. Coders, designers, data magicians.</p>
								</section>
							</div>
							<div class="3u">
								<section>
									<img alt="Rails logo" src="/assets/img-features.png" height="100%" width="100%">
									<header>
										<h4>Talent-focused</h4>
									</header>
									<p>Free of charge. Admissions assess potential &amp; attitude over tech knowledge.</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>


