@import "bootstrap-sprockets";
@import "bootstrap";


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* new */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* 3 de febrero - forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* 3 de febrero - forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}

input {
  height: auto !important;
}


/* 3 de Febrero - Hoy a la manana - sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}



/*Footer*/

.bs-docs-footer {
    
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;    
}

.bs-docs-social-buttons {
    display: inline-block;
    margin-bottom: 0px;
    
    text-align: center;  
    font-size: 0.8em;
    letter-spacing: -1px;
    margin-bottom: 300px;
    text-align: center;
    font-weight: normal;
    color: #777;
    
}

/*botones*/

.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #FFF;
    background-color: #563D7C;
    border-color: #563D7C;
        border-top-color: #563D7C;
        border-right-color-value: rgb(86, 61, 124);
        border-bottom-color: #563D7C;
        border-left-color-value: rgb(86, 61, 124);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
}

.btn-lg {
    padding: 10px 16px;
        padding-top: 10px;
        padding-right-value: 16px;
        padding-bottom: 10px;
        padding-left-value: 16px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;}

.btn-outline {
    color: #563D7C;
    background-color: transparent;
    border-color: #563D7C;
        border-top-color: #563D7C;
        border-right-color-value: rgb(86, 61, 124);
        border-bottom-color: #563D7C;
        border-left-color-value: rgb(86, 61, 124);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
}        

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid linear-gradient(45deg, #020031 0%, #6D3353 100%);
    border-top-width: 1px;
    border-right-width-value: 1px;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-top-style: solid;
    border-right-style-value: solid;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
        padding-top: 10px;
        padding-right-value: 16px;
        padding-bottom: 10px;
        padding-left-value: 16px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.masthead {
    padding: 70px 0px 80px;
        padding-top: 70px;
        padding-right-value: 0px;
        padding-bottom: 80px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin-bottom: 0px;
    color: #FFF;
}


/* footer */

footer {
    margin-top: 1px solid;
    border: 1px solid linear-gradient(45deg, #020031 0%, #6D3353 100%);
    border-top-width: 1px;
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    margin-top: 40px;
    margin-right-value: 0px;
    margin-bottom: 20px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    
    border-top: 1px solid #EEE;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEE;

    border-bottom: 1px solid #EEE;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
}


.container {
    margin-left: auto;
        margin-left-value: auto;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
    margin-right: auto;
        margin-right-value: auto;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    width: 1200px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


.jumbotron {
    position: relative;
    text-align: center;
    background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0% 0% transparent;
        background-color: transparent;
        background-image: linear-gradient(45deg, #020031 0%, #6D3353 100%);
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
}

.jumbotron_white {
    position: relative;
    text-align: center;
    text-shadow: 80px;
    background: 0% 0% transparent;
        background-color: transparent;
        
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    }

.container {
    margin-left: auto;
        margin-left-value: auto;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
    margin-right: auto;
        margin-right-value: auto;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    width: 1200px;
}

.main {
    background-image: white;

    position: relative;
    margin: 0px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.jumbotron_h1 {
    color: white;

    line-height: 1;
    letter-spacing: -2px;
    
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

.row {
    margin: -40px 0px 0px -40px;
        margin-top: -40px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: -40px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.main > .content.dark {
}
.main > .content {
    padding: 6em 0px;
        padding-top: 6em;
        padding-right-value: 0px;
        padding-bottom: 6em;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}

.row > * {
    padding: 40px 0px 0px 40px;
        padding-top: 40px;
        padding-right-value: 0px;
        padding-bottom: 0px;
        padding-left-value: 40px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}
.\33 u, .\33 u\$ {
    width: 25%;
    clear: none;
    margin-left: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
}
.row > * {
    float: left;
}

.dark {
    color: rgba(255, 255, 255, 0.65);
}

.featured {
    text-align: center;
}

body {
    position: relative;
    padding-top: 40px;
}
body {
    margin: 0px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    line-height: 20px;
    color: #333;
    background-color: #FFF;
}